# ========== Général ==========
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ========== IDE ==========
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# ========== Flutter / Dart ==========
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# ========== Android ==========
.gradle/
android/.gradle/
android/caches/
android/**/build/
android/app/debug/
android/app/profile/
android/app/release/

# ========== Artifacts / binaires ==========
*.jar
*.apk
*.aab
*.symbols
app.*.map.json
app.*.symbols

# ========== Git ==========
*.orig
